services:
  glance:
    container_name: glance
    image: glanceapp/glance
    restart: unless-stopped
    volumes:
      - ./config:/app/config
      - ./assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
      # Optionally, also mount docker socket if you want to use the docker containers widget
      # - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 8080:8080
    env_file: .env
    networks:
      - glance-network

  glance-github-graph:
    image: haumea/glance-github-graph:latest
    ports:
      - 8081:8080  # Changed to 8081 to avoid conflict if glance uses 8080
    environment:
      - CACHE_ENABLED=true
      - CACHE_TYPE=memory
      - CACHE_DURATION_SECS=3600
    networks:
      - glance-network

  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    restart: unless-stopped
    ports:
      - 8082:80
      - 8443:443
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - SPEEDTEST_SCHEDULE="0 * * * *"
      - SPEEDTEST_SERVERS=4087
      - APP_KEY=base64:XLyBKSDiWK9coL32MH3Gql8louz2i7m0MyZ5L3xOUJ4=
      - DB_CONNECTION=sqlite
    volumes:
      - ./speedtest-tracker/config:/config
    networks:
      - glance-network

networks:
  glance-network:
    driver: bridge
