services:
  filebrowser:
    image: filebrowser/filebrowser:s6
    container_name: filebrowser
#    ports:
#      - "10400:10400"
    volumes:
      - ./files:/srv
      - ./database:/database
      - ./config:/config
    environment:
      - PUID=1000
      - PGID=1000
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true
    name: proxy-network
